# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\nicol\OneDrive\Dokumenter\DTU\02285 Kunstig intelligens og multiagent-systemer\warmup\searchclient_java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
